@{
    ViewData["Title"] = "Index";
}
@foreach(Serie item in ViewBag.ListSeries)
{
<div class="card" style="width: 18rem;">
  <img src="@item.ImagenSerie" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@item.Nombre</h5>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalSerie" onclick = "MostrarActores(@item.IdSerie)">
      Actores
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalSerie" onclick = "MostrarInfoSerie(@item.IdSerie)">
      Temporadas
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalSerie" onclick = "MostrarInfoSerie(@item.IdSerie)">
      Info de Series
    </button>
  </div>
</div>
}


<!-- Modal -->
<div class="modal fade" id="ModalSerie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="TituloSerie">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
       

      
    <div class="modal-body" id="InfoSerie">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
